
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@if (ViewBag.PasswordChange)
{
   <h2>Password successfully updated</h2>
}
else
{
   <h2>Password could not be updated. Please contact your administrator. </h2>
}