<appSettings>
  <add key="ida:AppID" value="b09ffbcd-e19e-492d-88f2-7fa9b923fd78" />
  <add key="ida:AppSecret" value="YR5xoW1a17zHvlOBB:ZWxe*lQ]BBP?lv" />
  <add key="ida:RedirectUri" value="https://localhost:44355/" />
  <add key="ida:AppScopes" value="User.Read.All Calendars.Read Contacts.Read Mail.Read Contacts.ReadWrite" />
</appSettings>